body{
    margin: 0;
    overflow-x: hidden  ;
}

header{
    background-color: blue ;
    height: 40vh;
}

.logo{
    color:white;
    margin-left: 10vw;
}

.nav-container{
    padding-top: 3vh;
    display: flex;
    gap: 32vw;
}

.nav-container a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.Contact {
    color: black !important;
    background-color: white;
    border-radius: 3vh;
    padding: 2vh 2vw;
    font-weight: bold;
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 2vw;
}

.Main-Img-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1140px ;
    margin: -9vw auto 0 auto;
    gap: 2vh;
}

.Main-Img-Container img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.Main-Img-Container h3{
    font-weight: bold;
    margin-top: -0.2vh;
    font-size: 25px;
}

.Section-Img-Container{
    display: flex;
    justify-content: center;
    gap: 0.6vw;
    margin: 1.5vh auto 0 auto;
    max-width: 1000px;
    width: 100%;
}

section p{
    display: block;
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
}

.Extra-Information{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    width: 13vw;
    height: 4vh;
    margin: 40px auto;
    border-radius: 3vh;
}