body{
    margin: 0;
    overflow-x: hidden  ;
}

header{
    background-color: blue ;
    height: 40vh;
}

.logo{
    color:white;
    margin-left: 13vw;
}

.mobile-text{
    display: none;
}

.nav-container{
    padding-top: 3vh;
    display: flex;
    gap: 25vw;
}

.nav-container a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.Contact {
    color: black !important;
    background-color: white;
    border-radius: 3vh;
    padding: 2vh 2vw;
    font-weight: bold;
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 2vw;
    font-family: "ALK Rounded";
}

.Main-Img-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1140px ;
    margin: -9vw auto 0 auto;
    gap: 2vh;
}

.Main-Img-Container img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.Main-Img-Container h3{
    font-weight: bold;
    margin-top: -0.2vh;
    font-size: 25px;
    font-family: 'ALK Rounded';
}

.Section-Img-Container{
    display: flex;
    justify-content: center;
    gap: 0.6vw;
    margin: 1.5vh auto 0 auto;
    max-width: 1000px;
    width: 100%;
}

.Mobile-Section-Img-Container{
    display: none;
}

section p{
    display: block;
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
    font-family: "ALK Rounded";
}

.Extra-Information{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 3vh;
    color: white;
    width: 13vw;
    height: 4vh;
    margin: 5vh auto 15vh auto;
    font-family: "ALK Rounded";
}

footer {
    display: flex;
    background-color: blue;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh 5vw;
    gap: 4vw;
    color: white;
}

.Mobile-Contact{
    display: none;
}

.Contact-Container, .Form-Container {
    flex: 1;
    min-width: 300px;
    margin-top: 20vh;
}

.Contact-Container {
    margin-right: 2vw;
}

.Form-Container input,
.Form-Container label {
    display: block;
    width: 100%;
    margin-bottom: 1.5vh;
    color: white;
    margin-left: 5vw;
}

.Contact-Left-Side{
    font-family: 'ALK Rounded';
}

iframe{
    border-radius: 2vh;
    margin-top: 2vh;
    max-height: 20vh;
}

.Form-Container input[type="text"],
.Form-Container input[type="email"],
.Form-Container input[type="tel"] {
    padding: 1vh;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
    max-width: 450px;
}

.Form-Container input[type="submit"],
.Submit {
    margin-left: 20vw;
    color: black;
    background-color: white;
    border-radius: 3vh;
    padding: 2vh 2vw;
    font-weight: bold;
    max-width: 10vw;
    outline: none;
    box-shadow: none;
    border: none;
}
@media (min-width: 0px) and (max-width: 1024px) {
    html,body{
        overflow-x: hidden;
    }

    body {
        background: #f0f0f0;
        font-family: 'ALK Rounded', sans-serif;
    }

    header {
        background: blue;
        padding: 10vw;
        margin-top: -40vw;
        max-width: 1024px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .logo{
        margin-right: 32vw;
        margin-top: 13vh;
    }

    .nav-container ul{
        display: none;
    }

    .Main-Img-Container{
        margin-top: -5vh;
        display: flex;
        justify-content: center;
        max-width: 87vw;
        margin-right: 6.5vw;
        flex-direction: column;
    }

    .Main-Img-Container img{
        border-radius: 20px;
    }

    .Section-Img-Container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3vw;
        padding: 2vw;
    }

    .Section-Img-Container img {
        display: none;
    }

    .Mobile-Section-Img-Container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3vw;
        padding: 2vw;
        margin-left: 5vw;
    }

    .Mobile-Section-Img-Container img{
        width: 40vw;
        max-height: 13vh;
        border-radius: 10px;
    }

    .mobile-text {
        display: block;
        text-align: center;
        margin: 4vh auto 0 auto;
    }

    .Desktop-text{
        display: none;
    }

    .Extra-Information{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        border-radius: 3vh;
        color: white;
        width: 80vw;
        height: 6vh;
        margin: 5vh auto 15vh auto;
        font-family: "ALK Rounded";
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .Contact-Container, .Form-Container {
        margin-top: 0;
        width: 80vw;
        min-width: auto;
        margin-right: 15vw;
    }

    .Contact-Container p{
        display: none;
    }

    .Form-Container input[type="submit"] {
        max-width: 80vw ;
        margin-left: 7vw;
    }

    .Desktop-Contact{
        display: none;
    }

    .Mobile-Contact{
        font-size:  18px;
        padding-bottom: 5vh;
        font-weight: bold;
        margin-left: 5vw;
    }
}